body{
    background-color: lightpink;
}
body img{
    border: 2px solid rebeccapurple;
    height: 100px;
    width: 100px;

}
body img nth-child(79):hover, body img nth-child(79):active{
    
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.netclipart.com%2Fisee%2Fhboh_star-big-clip-art-at-stars-animated%2F&psig=AOvVaw35kKieR5spvdnzvZbXln22&ust=1583954139840000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC2tpPPkOgCFQAAAAAdAAAAABAD");
    background-repeat: repeat;
    background-size: 500px;
    
    
}
body img nth-child(79){
   border: 10px solid black; 
   padding: 100px; 
}